# Virtual environments
venv/
venv_bayespilot/
.venv/
.env

# Python cache
__pycache__/
*.pyc
.pytest_cache/

# System files
.DS_Store

# Streamlit
.streamlit/

# Jupyter
.ipynb_checkpoints/

# Data files
*.csv

# MLflow
mlruns/
mlflow.db

# Model artifacts
models/artifacts/

# Logs
logs/